<!-- 수강신청 페이지 -->
{% extends "base.html" %}
{% from "macro/modalInput.html" import modal, textbox, numspin, select, radio, calendar %}
{% block main %}
<div class="card mb-4 wow fadeIn">
    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between ">
        <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table id="add-row" class="display table table-striped table-hover dataTable no-footer" role="grid" aria-describedby="add-row_info">
                        <thead>
                            <tr role="row">
                                <th style="width: 357px;" class="sorting_asc" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-sort="ascending" aria-label="코드: activate to sort column descending">코드</th>
                                <th style="width: 357px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="강의: activate to sort column ascending">강의</th>
                                <th style="width: 357px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="전공: activate to sort column ascending">전공</th>
                                <th style="width: 358px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="교수: activate to sort column ascending">교수</th>
                                <th style="width: 381px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="시간: activate to sort column ascending">시간</th>
                                <th style="width: 381px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="수강인원: activate to sort column ascending">수강인원</th>
                                <th style="width: 381px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="현인원: activate to sort column ascending">현인원</th>
                                <th style="width: 381px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="신청: activate to sort column ascending">신청</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in curriculumList%}
                            <tr>
                                <td>
                                    {{i['curriculum_code']}}
                                </td>
                                <td>
                                    {{i['curriculum_name']}}
                                </td>
                                <td>
                                    {{i['major_name']}}
                                </td>
                                <td>
                                    {{i['professor_name']}}
                                </td>
                                <td>
                                    {{i['lecture_start_time']}}
                                </td>
                                <td>
                                    {{i['number_of_students']}}
                                </td>
                                <td>
                                    {{i['now_students_number']}}
                                </td>
                                <td>
                                    <div class="form-button-action">
                                       
                                        <button type="button" class="btn btn-link btn-primary btn-sm" onclick='AddCurriculum("{{i.curriculum_code}}","{{studentCode}}","{{i.lecture_start_time}}")'>
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="add-row_previous">
                                <a href="#" aria-controls="add-row" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="add-row" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                            </li>
                            <li class="paginate_button page-item next disabled" id="add-row_next">
                                <a href="#" aria-controls="add-row" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script%}
<script type="text/javascript" language="javascript">

function AddCurriculum(curriculumCode,studentCode,startTime){
    if (confirm("신청?") == true){   
        $.ajax({ 
            type : "POST",
            url : "/registration/api",
            data : {
                curriculumCode:curriculumCode,
                studentCode:studentCode,
                startTime
            },
            dataType:'Json',
            async:false,
            success:function(res){
                    window.location.reload(true);
            }
        })
    }
    else{   
        return false;
    }
}
</script>
{% endblock %}