<!-- 메인 페이지 -->
{% extends "base.html" %}
{% block main %}
<div class = "row" style = "padding: 32px;">
  <!--Grid column-->
  <div class="col-sm-6 col-md-3">
    <!--Card-->
    <div class="card text-center" style = "cursor: pointer;" onclick = "location.href='/classes'">
      <!--Card content-->
      <div class = "card-header ">
        <h4>학급</h4>
      </div>
      <div class="card-body">
        <h5 id="class-cnt"></h5>
      </div>
    </div>
    <!--/.Card-->
  </div>
  <div class="col-sm-6 col-md-3">
    <!--Card-->
    <div class="card text-center" style = "cursor: pointer;" onclick = "location.href='/teachers'">
      <!--Card content-->
      <div class = "card-header ">
        <h4>교사</h4>
      </div>
      <div class="card-body">
        <h5 id="teacher-cnt"></h5>
      </div>
    </div>
    <!--/.Card-->
  </div>
  <div class="col-sm-6 col-md-3">
    <!--Card-->
    <div class="card text-center" style = "cursor: pointer;" onclick = "location.href='/students'">
      <!--Card content-->
      <div class = "card-header ">
        <h4>원생</h4>
      </div>
      <div class="card-body">
        <h5 id="student-cnt"></h5>
      </div>
    </div>
    <!--/.Card-->
  </div>
  <div class="col-sm-6 col-md-3">
    <!--Card-->
    <div class="card text-center" style = "cursor: pointer;" onclick = "location.href='/drivers'">
      <!--Card content-->
      <div class = "card-header ">
        <h4>운전자</h4>
      </div>
      <div class="card-body">
        <h5 id="driver-cnt"></h5>
      </div>
    </div>
    <!--/.Card-->
  </div>
</div>
<div class = "row row-col-3" style="padding: 32px;">
  <div class="col-sm-6 col-md-3">
    <!--Card-->
    <div class="card text-center" style = "cursor: pointer;" onclick = "location.href='/cars'">
      <!--Card content-->
      <div class = "card-header ">
        <h4>차량</h4>
      </div>
      <div class="card-body">
        <h5 id="car-cnt"></h5>
      </div>
    </div>
    <!--/.Card-->
  </div>
  <div class="col-sm-6 col-md-3">
    <!--Card-->
    <div class="card text-center" style = "cursor: pointer;" onclick = "location.href='/courses'">
      <!--Card content-->
      <div class = "card-header ">
        <h4>운행</h4>
      </div>
      <div class="card-body">
        <h5 id="course-cnt"></h5>
      </div>
    </div>
    <!--/.Card-->
  </div>
  <div class="col-sm-6 col-md-3">
    <!--Card-->
    <div class="card text-center" style = "cursor: pointer;" onclick = "location.href='/destinations'">
      <!--Card content-->
      <div class = "card-header ">
        <h4>목적지</h4>
      </div>
      <div class="card-body">
        <h5 id="destination-cnt"></h5>
      </div>
    </div>
    <!--/.Card-->
  </div>
</div>
{% endblock %}

{% block script%}
<script type="text/javascript" language="javascript">
  var srl = $('#schoolsrl').data('srl')
  // 내 정보
  $(document).ready(function(){
    $.ajax({
      type : "POST",
      url : "/api/count",
      data : {
        school_srl:srl
      },
      dataType:'Json',
      async:false,
      success:function(res){
        $('#class-cnt').html(res['class_cnt']+"개");
        $('#student-cnt').html(res['student_cnt']+"명");
        $('#teacher-cnt').html(res['teacher_cnt']+"명");
        $('#driver-cnt').html(res['driver_cnt']+"명");
        $('#car-cnt').html(res['vehicle_cnt']+"대");
        $('#course-cnt').html(res['course_cnt']+"개");
        $('#destination-cnt').html(res['destination_cnt']+"개");
      }
    })
  })
</script>
{% endblock %}