<!-- 학급 페이지 -->
{% extends "base.html" %}
{% from "macro/modalInput.html" import modal, textbox, numspin, select %}
{% block main %}
<div class="card mb-4 wow fadeIn">
    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between ">
        <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <button id="addModalBtn" class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#classAddModal" onclick='viewModal("","1")'>
                        <i class="fa fa-plus"></i>
                            학급 등록
                        </button>
                    <table id="add-row" class="display table table-striped table-hover dataTable no-footer" role="grid" aria-describedby="add-row_info">
                        <thead>
                            <tr role="row"><th style="width: 357px;" class="sorting_asc" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-sort="ascending" aria-label="학급명: activate to sort column descending">학급명</th><th style="width: 357px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="담당교사: activate to sort column ascending">담당교사</th><th style="width: 358px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="원생 인원: activate to sort column ascending">원생 인원</th><th style="width: 381px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="관리: activate to sort column ascending">관리</th></tr>
                        </thead>
                        <tbody>

                            {% for i in rows%}
                            <tr>
                                <td>
                                    {{i['class_name']}}
                                </td>
                                <td>
                                    {% if i['teacher_srl']==0 %}
                                    담당 교사 없음
                                    {% else %}
                                    {{i['teacher_name']}}
                                    {% endif %}
                                </td>
                                <td>
                                    {{i['class_student_num']}}
                                </td>
                                <td>
                                    <div class="form-button-action">
                                       
                                        <button type="button" id="editModal" class="btn btn-link btn-primary btn-sm" data-toggle="modal" data-target="#classAddModal" onclick='viewModal("{{i.class_srl}}","0")'>
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger btn-sm" data-original-title="삭제" onclick='contentDelete("{{i.class_srl}}")'>
                                            <i class="fas fa-times"></i>
                                        </button>
                                        
                                    </div>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="add-row_previous">
                                <a href="#" aria-controls="add-row" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="add-row" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                            </li>
                            <li class="paginate_button page-item next disabled" id="add-row_next">
                                <a href="#" aria-controls="add-row" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--
    학급 입력 모달
-->
{% block modal %}
{% call modal('classAddModal', '학급 등록') %}
<div class = "col-12">
    {{textbox("MDclassName", "학급 이름", "학급 이름을 입력하세요")}}
</div>
<div class = "col-12">
    <form class = "form-group form-group-default" >
        <label style = "font-size: 10.5px;">{{title}}</label>
        <select class="form-control form-control-sm" id="MDteacherSelect" name="MDteacherSelect" selected="selected">
         <option value = "0">
          선택없음
          </option>
          {% for key, val in teachers.items() %}
          <option value = "{{key}}">
            {{val}}
          </option>
          {% endfor %}
        </select>
      </form>
      
</div>
{% endcall %}
{% endblock %}

{% block script%}
<script type="text/javascript" language="javascript">

function viewModal(classSrl, input_type){
  var schoolSrl = $('#schoolsrl').data('srl')
  var classSrl = classSrl
  // 내 정보
  if(input_type=="0"){
      $(document).ready(function(){
        $.ajax({
          type : "POST",
          url : "/api/viewClass",
          data : {
            school_srl:schoolSrl,
            class_srl:classSrl,
            input_type:input_type
          },
          dataType:'Json',
          async:false,
          success:function(res){
            $('#MDclassName').attr("value",res['class_name']);
            $('#MDbuttonUpdate').html("수정");
            $('#MDhidden').attr("value", classSrl)
          }
        })
      })
  }
  else{
    $(document).ready(function(){
        $('#MDclassName').attr("value","");
        $('#MDbuttonUpdate').html("등록");
    })
  }
}

$(function(){
    $('#MDbuttonUpdate').click(function(){
        if($('#MDbuttonUpdate').text()=="등록"){
            var teacherSrl = $("#MDteacherSelect option:selected").val();
            var className = $("#MDclassName").val();
            var schoolSrl = $('#schoolsrl').data('srl');
            $.ajax({
            
                type : "POST",
                url : "/api/updateClass",
                data : {
                    school_srl:schoolSrl,
                    teacher_srl:teacherSrl,
                    class_name:className,
                    input_type:"1"
                },
                dataType:'Json',
                async:false,
                success:function(res){
                    window.location.reload(true);
                }
            })
        }
        
        else if($('#MDbuttonUpdate').text()=="수정"){
            var teacherSrl = $("#MDteacherSelect option:selected").val();
            var className = $("#MDclassName").val();
            var schoolSrl = $('#schoolsrl').data('srl');
            var classSrl = $('#MDhidden').val();
            $.ajax({
            
                type : "POST",
                url : "/api/updateClass",
                data : {
                    school_srl:schoolSrl,
                    teacher_srl:teacherSrl,
                    class_name:className,
                    class_srl:classSrl,
                    input_type:"2"
                },
                dataType:'Json',
                async:false,
                success:function(res){
                    window.location.reload(true);
                }
            })

        }

    })
})
function contentDelete(classSrl){
    var schoolSrl = $('#schoolsrl').data('srl')
    if (confirm("삭제하시겠습니까?") == true){   
        $.ajax({ 
            type : "POST",
            url : "/api/contentDelete",
            data : {
                school_srl:schoolSrl,
                content_srl:classSrl,
                col_name:"class_srl",
                table_name:"sf_school_class"
            },
            dataType:'Json',
            async:false,
            success:function(res){
                    window.location.reload(true);
            }
        })
    }
    else{   
        return false;
    }
}
</script>
{% endblock %}