<!-- 로그인 페이지 -->
{% extends "base.html" %}
{% block main %}
    <div class="row justify-content-center align-items-center mb-1 animated fadeIn">
        <div class="card card-pricing " style="margin-top:50px; width:350px;">
            <div class = "card-header text-center mb-1">
                <h5>Safe Friends</h5>
            </div>
            <form method="POST">
                <div class = "card-body">
                    <div class="form-group">
                        <ul class="specification-list" style="list-style:none; padding-left: 0px;">
                            <li>
                                <label for="id">ID</label>
                                <input type="text" class="form-control" name="id" id="id" placeholder="Enter ID">
                            </li>
                            <li style="padding-top: 10px;">
                                <label for="pwd">PW</label>
                                <input type="password" autocomplete="new-password" class="form-control" name="pwd" id="pwd" placeholder="Enter Password">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class = "card-footer text-center mt-4" style="margin-top: 10px;">
                    <button class="btn btn-cyan waves-effect waves-light">Login
                        <i class="fas fa-sign-in-alt ml-1"></i>
                    </button>
                </div>        
            </form>
        </div>
    </div>
{% endblock %}