<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

  <span id="dpl-navbar-right-buttons">

    <a  onclick="myInfo()" id="myInfo" alt="My Info" data-toggle="modal" class="btn btn-info btn-rounded btn-sm waves-effect waves-light auth-modal-toggle">내 정보</a>
    <a id="logout" alt="Log Out" href='/logout' class="btn btn-info btn-rounded btn-sm waves-effect waves-light auth-modal-toggle">로그아웃</a>
  </span>  
  <div class="modal fade" id="modalMyInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">내 정보</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action waves-effect">
            
              <span class="name-specification">아이디</span>
              <span class="float-right" id = 'cid'></span>
      
          </a>
          <a class="list-group-item list-group-item-action waves-effect">
            <span class="name-specification">이름</span>
            <span class="float-right" id = 'cname'></span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">
            <span class="name-specification">이메일</span>
            <span class="float-right" id = 'cemail'></span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">
            <span class="name-specification">연락처</span>
            <span class="float-right" id = 'cphone'></span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">
            <span class="name-specification">소속</span>
            <span class="float-right" id = 'cschool'></span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    
</nav>

