{% macro input(type='text', id='inp', name='inp', value='', class='') -%}
    <input type="{{type}}" 
    {% if id %}id="{{id}}"{% endif %} 
    name="{{name}}" value="{{value}}" class="form-control {{class}}">
{%- endmacro %}


{% macro radios(lst, class='') -%}
    {% for r in lst %}
        <div class="form-check">
            <input class = "form-check-input {{class}}" type = "radio"
                name = "{{r.name}}"
                id = "{{r.id}}"
                value = "{{r.value}}"
                {{r.checked}}>

            <label class="form-check-label" for="{{r.id}}">
                {{r.text}}
            </label>
        </div>
    {% endfor %}

</div>

{%- endmacro %}

{% macro radio(id, name, value='', text='', checked='', class='') -%}
    <div class="form-check">
        <input class = "form-check-input {{class}}" type = "radio"
            name = "{{name}}"
            id = "{{id}}"
            value = "{{value}}"
            {{checked}}>

        <label class="form-check-label" for="{{id}}">
            {{text}}
        </label>
    </div>
{%- endmacro %}


{% macro textarea(id='inp', name='inp', value='', class='') -%}
<div class = "form-group">
    <textarea
    {% if id %}id="{{id}}"{% endif %} 
    name="{{name}}" class="form-control {{class}}">
    {{value}}
    </textarea>
</div>
{%- endmacro %}

{% macro checkbox(d) -%}
<div class="form-group">
    <div class = "custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="{{d.id}}" {{d.checked}}>
        <label class="custom-control-label" for="{{d.id}}"> 아오 </label>
    </div>
</div>
{%- endmacro %}

{% macro select(lst, tit) -%}
<div class="form-group">
    <select class="custom-select">
        <option selected>{{tit}}</option>
        {% for d in lst %}
        <option value = "{{d.value}}" {% if d.selected %} selected {% endif %}} >{{d.text}}</option>
        {% endfor %}
    </select>
</div>
{%- endmacro %}

{% macro testmodal(id, title, can_fn) %}
<!-- Central Modal Large Info-->
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">{{title}}</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      {{caller()}}

      <!--Footer-->
      <div class="modal-footer">
      <a role="button" class="btn btn-info" onclick="{{can_fn}}">취소
        </a>
        <a role="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">확인</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Large Info-->
{% endmacro %}